@font-face {
  font-family: 'AvenirNext-Bold';
  src: url('AvenirNext-Bold.eot');
  src: url('AvenirNext-Bold.eot?#iefix') format('embedded-opentype'),
       url('AvenirNext-Bold.svg#AvenirNext-Bold') format('svg'),
       url('AvenirNext-Bold.ttf') format('truetype'),
       url('AvenirNext-Bold.woff') format('woff'),
       url('AvenirNext-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

