@font-face {
  font-family: 'PlayfairDisplay-Bold';
  src: url('fonts/PlayfairDisplay-Bold.eot');
  src: url('fonts/PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'),
       url('fonts/PlayfairDisplay-Bold.svg#PlayfairDisplay-Bold') format('svg'),
       url('fonts/PlayfairDisplay-Bold.ttf') format('truetype'),
       url('fonts/PlayfairDisplay-Bold.woff') format('woff'),
       url('fonts/PlayfairDisplay-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PlayfairDisplay-Regular';
  src: url('fonts/PlayfairDisplay-Regular.eot');
  src: url('fonts/PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'),
       url('fonts/PlayfairDisplay-Regular.svg#PlayfairDisplay-Regular') format('svg'),
       url('fonts/PlayfairDisplay-Regular.ttf') format('truetype'),
       url('fonts/PlayfairDisplay-Regular.woff') format('woff'),
       url('fonts/PlayfairDisplay-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Hammersmith+One';
  src: url('fonts/HammersmithOne-Regular.eot');
  src: url('fonts/HammersmithOne-Regular.eot?#iefix') format('embedded-opentype'),
       url('fonts/HammersmithOne-Regular.svg#HammersmithOne-Regular') format('svg'),
       url('fonts/HammersmithOne-Regular.ttf') format('truetype'),
       url('fonts/HammersmithOne-Regular.woff') format('woff'),
       url('fonts/HammersmithOne-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

html {
	font-size: 10px;
}

body {
   /*width: 1600px;*/
   font-size: 1.4rem;
   color: rgba(51, 51, 51, 0.749);
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

.centered {
  padding-left: calc(50vw - 478px);
  padding-right: calc(50vw - 478px);
}

header {
	height: 670px;
	background: url('img/bgr1.jpg') no-repeat center rgba(77, 61, 115, 0.85);
	background-size: cover;
	color: rgb(255, 255, 255);
	padding-top: 15px;
	padding-bottom: 70px;
	position: relative;
	/*text-align: center;*/
}

header div {
	display: inline-block;
	font-family: 'Roboto';
	font-size: 3rem;
	color: #28becd;
	font-weight: 100;
	position: absolute;
	margin-left: 10px;
    margin-top: 5px;

}


header nav {
	display: inline-block;
	float: right;
	margin-top: 18px;
}

.menubtn {
  width: 30px;
  height: 30px;
  position:  absolute;
  right: 60px;
  top: 20px;
  display: none;
  font-family: 'Roboto';
  font-size: 2rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 100;
}



.navlink {
	font-size: 1.3rem;
    font-family: 'Roboto';
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
    margin-left: 22.5px;
} 

.navlink:hover {
	color: #00e0d0;
}

h1 {
	font-size: 3.2rem;
    font-family: 'PlayfairDisplay-Bold';
    font-weight: 900;
    text-align: center;
    padding-top: 149px;
    padding-bottom: 25px;
    letter-spacing: 0.45px;
}

h1::after {
	content: '';
	height: 1px;
	width: 50px;
	background-color: #00e0d0;
	/*position: absolute;*/
	display: block;
	margin: 19px auto 0;
}

header p {
	font-size: 1.4rem;
    font-family: 'Roboto';
    line-height: 1.714;
    font-weight: 300;
    text-align: center;
    max-width: 775px;
    margin: 0 auto;
    letter-spacing: 0.78px;
    line-height: 1.75;

}




.btn {
	height: 40px;
	width: 120px;
	display: block;
	border: 1px solid #03d4c8;
	text-transform: uppercase;
    font-size: 1.3rem;
	font-family: 'Hammersmith+One', sans-serif;
	letter-spacing: 1.75px;
	color: #03d4c8;
	font-weight: 800;
    padding: 11px 0 0 11px;
    color: #03d4c8;
    margin: 45px auto 125px;
}

.slider_nav {
	display: block;
	margin: 0 auto;
	text-align: center;
}

.sn {
	width: 10px;
    height: 10px;
    border: 1px solid #fff;
    border-radius: 50%;
    display: inline-block;
    margin-right: 1px;
}

.sn.active {
	background-color: #00e0d0;
	border-color: transparent;
}

.about .col {
	float: left;
	padding-top: 70px;
	display: inline-block;
}

.about .col:nth-of-type(1) {
	padding-left: 65px;
}

.about .col:nth-of-type(2) {
	max-width: 535px;
	margin-left: 100px;	
	padding-bottom: 70px;	
}

.about h2 {
	font-size: 2.2rem;
    font-family: "Playfair+Display";
    color: rgb(65, 61, 75);
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 24px;
    line-height: 0.8;
    letter-spacing: 0.6px;
}

.col p {
	font-size: 1.4rem;
	font-weight: 300;
    font-family: "Roboto";
    color: rgba(65, 61, 75, 0.749);
    line-height: 1.5;
    margin-bottom: 27px;
    letter-spacing: 0.4px;
}

.about .btn {
	margin: 0;
}

.video {
	height: 550px;
	/*width: 1600px;*/
	display: block;
	clear: both;
	background-image: url(img/bgr2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	/*padding-top: 200px;*/
	position: relative;
	/*padding-left: 720px;*/
}

video {
	height: 550px;
	width: 100%;
	
	/*position: absolute;*/
}

.video button {
	background: transparent;
	border: transparent;
	/*margin: 0 auto 30px;*/
	/*top: 202px;
    left: 747px;*/
	position: absolute;
	margin: -345px 0 0 -50px;
}

.video div {
	font-size: 1.6rem;
    font-family: "Roboto";
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    margin: -220px;
}


.expertise {
	display: block;
	clear: both;
	padding-top: 65px;
	padding-bottom: 65px;
}

.expertise h2 {
	text-align: center;
	font-size: 2.2rem;
    font-family: "PlayfairDisplay-Bold";
    color: rgb(65, 61, 75);
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 6px;
    letter-spacing: 1px;

}

.under_h2 {
	text-align: center;
	font-size: 1.4rem;
    font-family: "PlayfairDisplay-Regular";
    color: rgba(47, 45, 53, 0.749);
    letter-spacing: 1px;
    margin-bottom: -40px;
}

.under_h2::after {
	content: '';
	display: block;
	width: 50px;
	height: 2px;
	background-color: #c6c4c9;
	margin: 17px auto 84px;
    padding-right: 1px;
}

.expertise {
	padding-left: calc(50vw - 500px);
    padding-right: calc(50vw - 500px);
}

.wraper_service {
	text-align: center;
}

.service {
	display: inline-block;
	width: 313px;
	height: 250px;
	text-align: center;
	line-height: 1.571;
	font-family: "Roboto";
	font-weight: 300;
	padding-bottom: 96px;
	
}

.service:nth-of-type(1) {
	border-right: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
	margin-right: -4px;
}

.service:nth-of-type(2) {
	padding-top: 8px;
	border-right: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
	margin-right: -4px;
}

.service:nth-of-type(3) {
	border-bottom: 1px solid #ebebeb;
	
}

.service:nth-of-type(4) {
	border-right: 1px solid #ebebeb;
	margin-right: -4px;
}

.service:nth-of-type(5) {
	border-right: 1px solid #ebebeb;
	margin-right: -4px;
    
}

.service:nth-of-type(6) {
	padding-top: 4px;
}



.service p {
	padding: 17px 40px 0;

}

.service img {
	/*margin-top: -8px;*/
	margin-top: 30px;
    margin-bottom: 26px;
}

.service h3 {
	font-size: 1.4rem;
    font-family: "Roboto";
    color: rgb(65, 61, 75);
    line-height: 1.2;
    font-weight: black;
}


.teams {
	height: 712px;
	text-align: center;
	background: url(img/bgr3.jpg) no-repeat;
	background-size: cover;
	color: rgb(255, 255, 255);
	padding: 66px 0 61px;

}

.teams h2 {
	font-family: "PlayfairDisplay-Bold";
	font-size: 2.2rem;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: 1px;
}

.teamsp {
	font-size: 1.4rem;
    font-family: "PlayfairDisplay-Regular";
    line-height: 1.2;
    padding-top: 9px;
    letter-spacing: 1px;
}

.teamsp::after {
	content: '';
	display: block;
	width: 50px;
	height: 2px;
	background-color: #c6c4c9;
	margin: 20px auto 47px;
}

.worker {
	height: 308px;
	width: 220px;
	display: inline-block;
	margin: 0 10px 8px 0;
}

/*.worker:nth-of-type(2) {
	margin: 0 5px 8px 7px;
}

.worker:nth-of-type(3) {
	margin: 0 7px 8px 10px;
}

.worker:nth-of-type(4) {
	margin: 0 7px 8px 10px;
}*/


.worker .img {
	height: 228px;
	background-color: #f5f4f6;
}

.worker .name {
	border: 1px solid #79778d;
	border-bottom: none;
	font-size: 1.4rem;
    font-family: "Myriad Pro", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    padding: 22px 0 12px 0;
}

.worker .position {
	border: 1px solid #79778d;
    border-top: none;
    font-size: 1.3rem;
    font-family: "Roboto";
    font-weight: 300;
    text-transform: uppercase;
    color: rgba(250, 250, 250, 0.702);
    line-height: 1.2;
    padding-bottom: 13px;
}

.teamsp2 {
	clear: both;
    margin-top: 59px;
    margin-bottom: 27px;
    font-size: 1.4rem;
    font-family: "Myriad Pro", sans-serif;
    font-weight: 300;
    color: rgb(243, 243, 243);
    line-height: 1.2;
    letter-spacing: 0.4px;

}

.teams a {
	display: block;
	height: 40px;
	width: 140px;
	border: 1px solid #00e0d0;
	color: #00e0d0;
	font-size: 1.4rem;
    font-family: "Hammersmith+One";
    padding: 13px;
    margin: 0 auto;
    /*line-height: 40px;
*/}
 
.our_works {
	max-width: 1600px;
}

.our_works h2 {
	float: left;
	font-size: 2.2rem;
    font-family: "PlayfairDisplay-Bold";
    color: rgb(65, 61, 75);
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    padding-top: 62px;
    padding-left: 330px;
    margin-bottom: 68px;
    letter-spacing: 1px;
}

.our_works a:nth-of-type(1) {
	font-family: "Roboto";
    font-weight: 300;
    display: inline-block;
    float: right;
    letter-spacing: 0.6px;
    padding-top: 68px;
}

.our_works div:nth-of-type(1) {
	display: inline-block;
    float: right;
    padding-top: 68px;
    padding-right: 210px;
    margin-left: 10px;
}

.clear {
	clear: both;
}

.our_works {
	position: relative;
	text-align: center;
}

.works {
	display: inline-block;
	width: 266px;
	height: 200px;
	background: #b6b6b6;
	margin: -3px;
}

.works:nth-of-type(4) {
	background-color: #acacac;
}

.works:nth-of-type(5) {
	background-color: #a1a1a1;
}
.works:nth-of-type(6) {
	background-color: #8a8a8a;
}
.works:nth-of-type(7) {
	background-color: #b6b6b6;
}
.works:nth-of-type(8) {
	background-color: #a4a4a4;
}
.works:nth-of-type(9) {
	background-color: #a4a4a4;
}

.works:nth-of-type(10) {
	background-color: #b6b6b6;
}
.works:nth-of-type(11) {
	background-color: #8a8a8a;
}
.works:nth-of-type(12) {
	background-color: #a1a1a1;
}
.works:nth-of-type(13) {
	background-color: #acacac;
}
.works:nth-of-type(14) {
	background-color: #b6b6b6;
}

.btn_load {
	display: block;
	width: 140px;
	height: 40px;
	border: 1px solid #00e0d0;
	font-size: 1.6rem;
    font-family: "Hammersmith+One", sans-serif;
    color: rgb(0, 224, 208);
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
    padding: 12px 20px;
    overflow: hidden;
    margin: 70px auto;
}

.faces {
	height: 500px;
    text-align: center;
    background: url('img/bgr4.jpg') no-repeat center;
    background-size: cover;
    padding-top: 70px;
    position: relative;
}

.faces p {
	max-width: 740px;
	font-size: 1.6rem;
    font-family: "PlayfairDisplay-Regular";
    color: rgba(255, 255, 255, 0.851);
    line-height: 1.625; 
    margin: 45px auto 50px;
}

.facesname {
	font-size: 1.4rem;
    font-family: "Roboto";
    font-weight: 700;
    color: rgb(255, 255, 255);
    line-height: 1.571;
}

.facesposition {
	font-size: 13px;
    font-family: "Roboto";
    font-weight: 300;
    color: rgba(255, 255, 255, 0.702);
    line-height: 1.692;
    margin-bottom: 30px;
}

.faces li {
	display: inline-block;
	margin:  0 7px;

}

.faces li:nth-of-type(1) {
	color: rgba(255, 255, 255, 0.851);
	font-size: 4rem;
}

.faces li:nth-of-type(4) {
	padding-top: 10px;
}


.faces li:nth-of-type(7) {
	color: rgba(255, 255, 255, 0.851);
	font-size: 4rem;
}

/*.form_client {
	padding-bottom: 40px;
}*/

.colum1 {
	display: inline-block;
	max-width: 48%;
	float: left;
	margin-bottom: 40px;
}

.colum2 {
	display: inline-block;
	width: 390px;
	float: right;
	/*padding-left: 50px;*/
}

form h3 {
	font-size: 2.2rem;
    font-family: "PlayfairDisplay-Bold";
    color: rgb(65, 61, 75);
    margin-top: 35px;
    margin-bottom: 35px;
    text-transform: uppercase;
}

form input {
	display: block;
	width: 460px;
	height: 45px;
	border: 1px solid #e5e5e5;
	font-size: 1.4rem;
    font-family: "Roboto";
    color: rgba(65, 61, 75, 0.502);
    padding-left: 20px;
    margin-bottom: 22px;
}

textarea {
	height: 200px;
	width: 460px;
	border: 1px solid #e5e5e5;
	font-size: 1.4rem;
    font-family: "Roboto";
    color: rgba(65, 61, 75, 0.502);
    padding: 22px 0 0 22px;
    resize: none;
    margin-bottom: 20px;
}

.submit {
	width: 120px;
	height: 40px;
	border: 1px solid #00e0d0;
	font-size: 1.6rem;
    font-family: "Hammersmith+One", sans-serif;
    color: rgb(0, 224, 208);
    font-weight: 700;
    text-transform: uppercase;
    padding: 12px 20px;
    background: transparent;
}

.colum2 h3 {
	font-size: 2.2rem;
    font-family: "PlayfairDisplay-Bold";
    color: rgb(65, 61, 75);
    margin-top: 35px;
    margin-bottom: 35px;
    text-transform: uppercase;
}

.bar1 {
	float: left;
	width: 190px;
	height: 430px;
	text-align: center;
}

.bar2 {
	float: right;
	width: 190px;
	height: 430px;
	text-align: center;
}

.bar1 img {
	margin-bottom: 50px;
}

/*.bar2 img {
	margin-bottom: 50px;
}*/

.img21 {
	margin-bottom: 60px;
}

.img22 {
	margin-bottom: 55px;
}

.img23 {
	margin-bottom: 53px;
}

.img24 {
	margin-bottom: 35px;
}

footer {
	clear: both;
	background: url(img/bgr5.jpg) no-repeat center;
	background-size: cover;
	padding: 70px 0;
	height: 400px;
}

.col1 {
	width: 280px;
	display: inline-block;
	float: left;
}

.col1 div {
	display: inline-block;
	font-family: 'Roboto';
	font-size: 3rem;
	color: #28becd;
	font-weight: 100;
	position: absolute;
	margin-left: 11px;
}

.col1 p {
	font-size: 1.4rem;
    font-family: "Roboto";
    font-weight: 300;
    color: rgb(255, 255, 255);
    line-height: 1.857;
}

.col2 {
	display: inline-block;
	float: left;
	width: 275px;
	margin-left: 25px;
}

.col2 h3 {
	font-size: 1.5rem;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    font-weight: 900;
    text-transform: uppercase;
    padding-top: 13px;
    margin-bottom: 20px;
}

.col2_wrap1 {
	display: inline-block;
	width: 22px;
	height: 120px;
	color: rgb(255, 255, 255);
	font-weight: 300;
	float: left;
	/*font-size: 1.4rem;
    font-family: "Roboto";
    line-height: 1.857;*/
}

.col2_wrap1 i:nth-of-type(1) {
	margin-bottom: 75px;
	margin-top: 5px;
}

.col2_wrap2 {
	display: inline-block;
	width: 250px;
	color: rgb(255, 255, 255);
	font-weight: 300;
	float: right;
	font-size: 1.4rem;
    font-family: "Roboto";
    line-height: 1.857;
}

.col2_wrap2 div {
	margin-bottom: 15px;
}

.col3 {
	display: inline-block;
	float: right;
	width: 300px;
	padding-right: 30px;
}

.col3 h3 {
	font-size: 1.5rem;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    font-weight: 900;
    text-transform: uppercase;
    padding-top: 13px;
    margin-bottom: 20px;
}

.btn_col3 {
	width: 210px;
	height: 45px;
	font-size: 1.4rem;
    font-family: "Roboto";
    color: rgba(255, 255, 255, 0.749);
    border: 1px solid rgba(255, 255, 255, 0.749);
    padding: 13px 0 0 17px;
    margin-bottom: 25px;
}

.socials {
	color: #fff;
	font-size: 1.4rem;

}

.social_link {
	display: inline-block;
	width: 35px;
	height: 35px;
	border: 1px solid #fff;
	border-radius: 50%;
	text-align: center;
	line-height: 35px;
	margin-right: 5px;
}

.contacts, .studio {
	font-size: 1.4rem;
    font-family: "Roboto";
    color: rgba(255, 255, 255, 0.749);
    text-transform: uppercase;
    display: none;
}

.footer_nav {
	clear: both;
	font-size: 14px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    padding-top: 70px;
}

.copy {
	display: inline-block;
	float: right;
	
}

.footer_nav a {
	text-transform: uppercase;
	margin-right: 35px;
}

.footer_nav a:hover {
	text-transform: uppercase;
	margin-right: 35px;
	color: #00e0d0;
}





@media (max-width: 1100px) {
	.colum1 {
		margin-left: 50px;
	}

	.col1 {
	    margin-left: 30px;
	}

	.col2 {
	    margin-left: 50px;
	}

	.footer_nav {
	    margin-left: 30px;
	    margin-right: 50px;
	}

}

@media (max-width: 1000px) {
	header {
    overflow: visible;
  }


		header img {
			padding-left: 30px;
		}


	  nav {
	    float: none;
	    padding: 0;
	    position: absolute;
	    bottom: 347px;
	    left: 0;
	    right: 0;
	    background: #252e30;
	    display: none;
	  }

	  nav a { 
	    display: block;
	    width: 100%;
	    text-align: center;
	    padding: 15px;
	    font-size: 2rem;
	    border-bottom: 1px solid #fff;
	    display: none;
	  }

	.menubtn {
	    display: block;
	}

	.menubtn:hover + nav a {
	    display: block;
	  }


	.our_works h2 {
	    padding-left: 150px;
	}

	footer {
   
    padding: 30px 0;
    
}

}

@media (max-width: 960px) {
	.about .col:nth-of-type(2) {
    max-width: 535px;
    margin-left: 30px;
    padding-bottom: 70px;
	}

	.worker {
	    
	    width: 150px;
	   
	}

	footer {
	    padding: 15px 0;
	    text-align: center;
	}
	 
	.col1 {
		float: none;
		display: block;
		margin: 0 auto;
	}

	.footer_nav {
	    padding-top: 30px;

	}

	.col2_wrap2 a {
		margin-left: -100px;
	}


	.service:nth-of-type(2) {
    
    border-right: none;
    
	}

	.service:nth-of-type(3) {
    border-bottom: 1px solid #ebebeb;
    margin-right: -1px;
    margin-left: 5px;
    border-right: 1px solid #ebebeb;
    
	}

	.service:nth-of-type(4) {
	    margin-right: 1px;
	    margin-left: -3px;
	    border-bottom: 1px solid #ebebeb;
	    border-right: none;
	}

	.service:nth-of-type(5) {
	    border-right: 1px solid #ebebeb;
	    margin-right: -8px;
	}





}


@media (max-width: 900px) {
	.about .col:nth-of-type(2) {
    max-width: 435px;
    margin-left: 30px;
    padding-bottom: 70px;
	}

	.about .col:nth-of-type(1) {
	    padding-left: 40px;
	}

	form input {
	    width: 360px;
	}
	textarea {
	    width: 360px;
	}
}

@media (max-width: 850px) {
	header p {
		width: 80%;
	}

	.faces {
    padding-top: 30px;
	}


}


@media (max-width: 800px) {
	.faces p {
    margin: 25px 30px;
	}

	.colum1, .colum2 {
	   float: none;
	   display: block;
	   text-align: center;
	   margin: 0 auto;
	}

	.bar2 {
	    margin-bottom: 20px;
	}

	.faces p {
	    margin: 25px auto 30px;
	    width: 350px;
	    height: 100px;
	    overflow: scroll;
	}


}

@media (max-width: 760px) {



	.about .col:nth-of-type(2) {
    max-width: 335px;
    margin-left: 20px;
    padding-bottom: 70px;
	}

	.our_works div:nth-of-type(1) {
	    
	    padding-right: 130px;
	}



}

@media (max-width: 700px) {
	.worker .img {
    height: 150px;
	}

	.teamsp2 {
		margin-top: 0;
	}

	.worker {
	    height: 250px;
	}

	.worker .name {
	    
	    padding: 5px 0 5px 0;
	}
	.worker .position {
		padding-bottom: 5px;
	}

	.btn_load {
	    margin: 30px auto;
	}

	.worker {
	    margin: -35px 10px -8px 0;
	}

	.col1 img {
		margin-left: -90px;
	}

	.col1 p {
    line-height: 1.5;
    }

    .col2_wrap2 {
    line-height: 1.5;
    }

    .col2_wrap1 i:nth-of-type(1) {
    margin-bottom: 65px;
    }
 
 	.col3 h3 {
    margin-left: -52px;
	}

	.footer_nav {
    padding-top: 15px;
	}
}

@media (max-width: 650px) {
		.copy {
	    display: block;
	    float: none;
	    margin-top: 20px;
	}

	.about .col:nth-of-type(2) {
	    max-width: 305px;

	}

	.about {
		text-align: center;
	}

	.col {
		display: block;
		margin: 0 auto;
	}

	.our_works h2 {
	    padding-left: 70px;
	}

	.col1 p {
    line-height: 1;
	}

	.col2_wrap2 div {
     margin-bottom: 0; 
	}

	.col2_wrap1 i:nth-of-type(1) {
    margin-bottom: 50px;
	}

	.col2 h3 {
    margin-bottom: 0px;
}

	.col3 h3 {
    margin-bottom: 0px;
	}

	.btn_col3 {
    margin-bottom: 10px;
	}

	.footer_nav {
    padding-top: 0px;
	}

	.col2, .col3 {
		float: none;
	}

	.col2 {
    margin-left: 24px;
	}

	.col3 {
    margin-top: -45px;
    margin-left: 65px;
	}

	.footer_nav a {
    margin-right: 10px;
	}

	.copy {
    margin-top: 5px;
}

	.service:nth-of-type(1) {
    border-right: none;
	}

	.service:nth-of-type(3) {
    border-right: none;
	}

	.service:nth-of-type(5) {
    border-right: none;
    border-bottom: 1px solid #ebebeb;
	}

}

@media (max-width: 570px) {
	.btn {
    margin: 45px auto 55px;
	}

	.our_works h2 {
	    padding: 0 auto;
	    display: block;
	    float: none;
	    margin: -25px auto 10px;

	}

	.our_works a:nth-of-type(1) {
	    
	    
	     float: none; 
	    
	}

	.our_works a:nth-of-type(1) {
	     padding-top: 0; 
	}

	.our_works div:nth-of-type(1) {
	    padding-right: 130px;
	    padding-top: 0;
	    padding-bottom: 10px;
	}
}


@media (max-width: 500px) {
	.faces li {
    margin: 0px;
    
	}

	form input, textarea {
	    width: 300px;
	}
}


@media (max-width: 400px) {
		.btn {
	    margin: 25px auto 10px;
	}

	.teamsp2 {
	    margin-bottom: 10px;
	}

	.worker  {
	    height: 250px;
	    width: 100px;
	}

	footer {
    padding: 5px 0;
}

	.col3 {
    margin-left: 45px;
	}


}






