@font-face {
  font-family: 'Tahoma-Bold';
  src: url('Tahoma-Bold.svg#Tahoma-Bold') format('svg'),
       url('Tahoma-Bold.ttf') format('truetype'),
       url('Tahoma-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tahomabd';
  src: url('tahomabd.eot');
  src: url('tahomabd.eot?#iefix') format('embedded-opentype'),
       url('tahomabd.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

